*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(images/background.png);
}
a{
    text-decoration: none;
}
.bg-clr-vi{
    background-color: rgb(91, 94, 222);
    border-collapse: collapse;
    padding: 5px;
}
.bc-col{
    border-collapse: collapse;
}
.wid{
    width: 8%;
}
.images{
    width: 100%;
    margin: 5px;
}
.mac{
    font-weight: bold;
    color: white;
    text-align: center;
}
.ft-30{
    font-size: 35px;
}
.ft-10{
    font-size: 15px;
}
.wid-100{
    /* width: 100vw; */
    height: 15px;
}
.clr-vi{
    color:rgb(91, 94, 222) ;
    font-weight: bold;
}
.clr-vi:hover{
    color: rgb(241, 241, 50);
}
.bdr-black{
    border: 1px solid black;
    margin: auto;
}
.clr-blue{
    background-color: blue;
    height: 1px;
}
.clr-brown{
    color: maroon;
    font-size: 24px ;
    font-weight: bold;
}
.id-item{
    color: maroon;
    border: 1px solid #003266;
}
.pos-15{
    position: relative;
    left: 15%;
}